<h1>Home#show</h1>
<p></p>
<form id="new_user">
<input type="text" name="email" placeholder="email">
<input type="text" name="password" placeholder="password">
<input type="text" name="password_confirmation" placeholder="password_confirmation">
<input type="submit" value="create">
</form>
